/* Header Container */
.header {
  position: sticky;
  /* Stick to the top of the viewport */
  top: 0;
  /* Stick to the top */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #d9e7fc;
  color: #000000;
  z-index: 1000;
  flex-direction: column;
  /* Ensure it's above other content */
}

.offline-header {
  /* background-color: rgb(224, 92, 92); */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offline-text {
  color: red;
}

/* Container for logo and navigation */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app_logo {
  cursor: pointer;
}

/* Logo styles */
.header__logo {
  height: 100%;

  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 10px;

  border-radius: 8px;
  color: #040273;
  padding: 0px 5px 0px 5px;
}

.header__logo img {
  height: 7vh;
}

.header__logo p {
  height: 100%;
  padding-top: 14px;
}

/* Navigation */
.header__nav {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: flex-end;
  /* Align items to the right */
}

.header__nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.header__nav-item {
  margin: 0;
  display: flex;
  justify-content: center;
}

.header__nav-item a {
  color: #201f1f;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 16px;
  font-weight: 600;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__nav-item a:hover {
  color: #010101;
}

/* Hamburger Menu */
.header__hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  margin-left: 20px;
  /* Ensure there's space between hamburger and other items */
}

.header__hamburger-line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: #333;
  color: #fff;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  /* Ensure it's above other content */
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar__close {
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.sidebar__list {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.sidebar__item {
  margin: 20px 0;
}

.sidebar__item a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.sidebar__item a:hover {
  text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .header__nav {
    display: none;
    /* Hide the navigation on small screens */
  }

  .header__hamburger {
    display: flex;
    /* Show hamburger menu on small screens */
  }
}

/* Button */


/* CSS */
.Login_button {
  align-items: center;
  background-clip: padding-box;
  background-color: #60b6f9;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 0;
  margin: 0;
  min-height: 35px;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}




.Login_button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* profile image */
.icon_profile {
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}





.header-profile-container {
  position: relative;
  background-color: inherit;
}

.profile-submenu {
  display: none;
  position: absolute;
  top: 100%;
  width: 180px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0px 0;
  z-index: 1000;
  text-align: left;
}

.logout {
  font-size: 20px;
  font-weight: 600;
}

.profile-submenu li {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-submenu li:hover {
  background-color: #f0f0f0;
}

.header-profile-container:hover .profile-submenu {
  display: block;
}

.header_search_bar {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  display: flex;
  height: 100%;
  padding: 5px;
  width: 550px;
}

.header_search_bar .search_categories select {
  /* height: 100%; */
  width: 20%;
  background-color: white;
  border: none;
  border-right: 1px solid grey;
  width: max-content;
  outline: none;
}

.header_search_bar .search_field {
  width: 80%;
  display: flex;
  align-items: center;
}

.header_search_bar .search_field button {
  appearance: none;
  border: 0;
  background-color: white;
}

.header_search_bar .search_field input {
  border: 0px;
  outline: none;
  width: 100%;
  padding-left: 5px;
}

.header_search_bar_mobile {
  display: none;
}

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
  z-index: 999; /* Keep it below the popup */
}

.header-mobile-app-link {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 15px;
  background-color: #e2eaf5;
  width: max-content;
  height: 50%;
  padding: 10px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-mobile-app-link > div:nth-child(1) {
  height: 10%;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.header-mobile-app-link > div:nth-child(1) > svg {
  cursor: pointer;
}

.header-mobile-app-link > div:nth-child(2) {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mobile-app-link > div:nth-child(3) {
  height: 60%;
}

.app-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  border-top: 1px solid gray;
}

.app-icons img {
  margin: 15px 5px;
  width: 40px;
}

.app-icons img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .header__container {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .header_search_bar {
    display: none;
  }

  .header_search_bar_mobile {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0px;
    background-color: white;
    display: flex;
    padding: 5px;
    grid-area: 2/1/3/3;
  }

  .header_search_bar_mobile .search_categories select {
    width: 20%;
    background-color: white;
    border: none;
    border-right: 1px solid grey;
    width: max-content;
    outline: none;
  }

  .header_search_bar_mobile .search_field {
    width: 80%;
    display: flex;
    align-items: center;
  }

  .header_search_bar_mobile .search_field button {
    appearance: none;
    border: 0;
    background-color: white;
  }
  
  .header_search_bar_mobile .search_field input {
    border: 0px;
    outline: none;
    width: 100%;
    padding-left: 5px;
  }

  .header_search_bar_mobile .search_categories select {
    width: 10%;
    width: min-content;
    word-wrap: break-word;
  }

  .header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
  }
  .header__hamburger {
    align-items: flex-end;
  }

  .header-mobile-app-link {
    width: 70vw;
    padding: 5px;
  }

  .header-mobile-app-link > div:nth-child(2) > h5 {
    font-size: 14px;
  }

  .app-icons img {
    margin: 10px 5px;
    width: 30px;
  }
}